* {
  margin: 0;
  padding: 0;
}
#box {
  width: 100px;
  height: 100px;
  background: salmon;
  /* &:hover{
        // & 代表当前的父元素
        // animation: move123 2s;
        animation-play-state: paused; // paused 停止； running 运动
    } */
}
@keyframes move123 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes turnRound {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
